*,
*:before,
*:after {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}
body {
  height: 100vh;
  background: linear-gradient(135deg, #d95454, #bf2e2e);
  font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
  color: #fff;
}
input {
  width: 200px;
  height: 30px;
  padding: 4px;
  margin: 5px;
  border-style: none;
  border-radius: 5px;
}
input:focus {
  outline: none;
}
button {
  width: 100px;
  height: 30px;
  border-style: none;
  cursor: pointer;
  border-radius: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
button:hover {
  background-color: #d0d1d0;
}
#button2 {
  width: 310px;
  height: 30px;
  border-style: none;
  border-radius: 5px;
  margin-left: 5px;
  -webkit-border-radius: 5px;
  -moz-border-radius: 5px;
  -ms-border-radius: 5px;
  -o-border-radius: 5px;
}
#button2:hover {
  background-color: #d0d1d0;
}
#error {
  margin: 5px;
  transition: all 0.1s;
  -webkit-transition: all 0.1s;
  -moz-transition: all 0.1s;
  -ms-transition: all 0.1s;
  -o-transition: all 0.1s;
}
ul {
  display: flex;
  list-style-type: none;
  padding: 10px;
}
li {
  padding: 5px;
}
.text-div {
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 35px;
}
.description {
  padding: 0.5rem 0 1.5rem 0;
  text-align: center;
}
.wrapper {
  padding-top: 20px;
}
.Before-After {
  display: flex;
  flex-direction: column;
  align-items: center;
}
#reset {
  width: 150px;
}
